.scoreboards
    display: flex
    width: 100%
    justify-content: space-around
    margin-bottom: 2vw

.scoreboard
    text-align: center
    opacity: 0.3

    &--active
        opacity: 1

    &__total
        font-weight: normal

        &--empty
            font-weight: bold