@require '../../settings/settings';

.attempts
    width: 15%

.attempt
    margin-top: ($line-height/2)
    margin-bottom: ($line-height/2)
    padding-bottom: $line-height
    
    font-size: ($line-height*2)
    text-align: center