.answer
    display: flex

    &__number
        flex-basis: 8%

    &__title
        flex-basis: 77%
        border-bottom: 0.4vw dotted yellow

        &--answered
            border-bottom: transparent

    &__total
        flex-basis: 15%
        text-align: right

        &--empty
            font-weight: bold