@font-face
    font-family: 'draco';
    src: url('../fonts/draco.eot');
    src: url('../fonts/draco.eot?#iefix') format('embedded-opentype'),
         url('../fonts/draco.woff2') format('woff2'),
         url('../fonts/draco.woff') format('woff'),
         url('../fonts/draco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;